@model SuperMercado.Models.ViewModels.SliderDescuentoMV
@{
    ViewData["Title"] = "Descuentos Y Sliders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ul class="nav nav-pills mb-5">
    <li class=""><a data-toggle="pill" href="#Sliders">Sliders</a></li>
    <li><a id="descuentos" data-toggle="pill" href="#Descuentos">Descuentos</a></li>
</ul>




<div class="tab-content">
    <div id="Sliders" class="tab-pane fade in active">
        <div id="Datalist">
            <div class="row mx-3 justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 cajaOptiones">
                    <div>
                        <div class="buscador">
                            <input type="search" value="" oninput="buscar(this.value.toLowerCase().trim().replaceAll('-',' '),'input')" placeholder="Buscar" />
                            <span class="icon-search" onclick="buscar(this.parentElement.children[0].value.toLowerCase().trim().replaceAll('-',' '),'')"></span>
                        </div>
                        <input id="automaticoCheck" name="automaticoCheck" type="checkbox" checked="checked" />
                        <label for="automaticoCheck">Busqueda automática</label>
                    </div>
                    <div class="wrapper-demo">
                        <div id="dd" class="wrapper-dropdown-3" tabindex="1">
                            <span id="FiltroContent">Todo</span>
                            <ul class="dropdown" id="DDFiltro">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 cajaOptiones">
                    <div class="d-flex">
                        <div class="botonAgregar" onclick="formulario('slider')">
                            <span class="plusBTN"><span class="icon-plus"><span class="path1"></span><span class="path2"></span></span></span><span class="spanText">Slider</span>
                        </div>
                        <div class="d-flex botonAgregar">
                            <input type="checkbox" value="" />
                            <div class="wrapper-demo">
                                <div id="ddCheck" class="wrapper-dropdown-1" tabindex="1">
                                    <ul class="dropdown" tabindex="1">
                                        <li><a href="#">Borrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-demo">
                        <div id="ddMostrar" class="wrapper-dropdown-3" tabindex="1">
                            <span id="MostrarContent">Mostrar 5</span>
                            <ul class="dropdown" id="mostrarDD">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="d-flex flex-sm-wrap-initial itemRowMenu mb-3">
                    <div class="col-md-1 text-center">
                        <span onclick="ordenar('slider-ID',this.id,this)" id="sort-ID-none">ID <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-3 text-center">
                        <span onclick="ordenar('slider-Imagen',this.id,this)" id="slider-Imagen-none">Imagen<span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span onclick="ordenar('slider-Titulo',this.id,this)" id="sort-Titulo-none">Título <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span onclick="ordenar('slider-Parrafo',this.id,this)" id="sort-Parrafo-none">Párrafo<span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span onclick="ordenar('slider-BotonDer',this.id,this)" id="sort-btn2-none">Botón Derecho <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span onclick="ordenar('slider-BotonIzq',this.id,this)" id="sort-btn1-none">Botón Izquierdo <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span onclick="ordenar('slider-acciones',this.id,this)" id="sort-acc-none">Acciones <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                </div>
            </div>
            <ul class="list" id="itemsTable"></ul>
            <ul class="pagination"></ul>
        </div>
    </div>








    <div id="Descuentos" class="tab-pane fade">
        <div id="Datalist2">
            <div class="row mx-3 justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 cajaOptiones">
                    <div>
                        <div class="buscador">
                            <input type="search" value="" oninput="buscar2(this.value.toLowerCase().trim().replaceAll('-',' '),'input')" placeholder="Buscar" />
                            <span class="icon-search" onclick="buscar2(this.parentElement.children[0].value.toLowerCase().trim().replaceAll('-',' '),'')"></span>
                        </div>
                        <input id="automaticoCheck2" name="automaticoCheck" type="checkbox" checked="checked" />
                        <label for="automaticoCheck2">Busqueda automática</label>
                    </div>
                    <div class="wrapper-demo">
                        <div id="dd2" class="wrapper-dropdown-3" tabindex="1">
                            <span id="FiltroContent2">Todo</span>
                            <ul class="dropdown" id="DDFiltro2">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 cajaOptiones">
                    <div class="d-flex">
                        <div>
                            <div class="botonAgregar"  onclick="formulario('oferta')">
                                <span class="plusBTN"><span class="icon-plus"><span class="path1"></span><span class="path2"></span></span></span><span class="spanText">Filtro</span>
                            </div>
                        </div>
                        <div class="d-flex botonAgregar">
                            <input type="checkbox" value="" />
                            <div class="wrapper-demo">
                                <div id="ddCheck2" class="wrapper-dropdown-1" tabindex="1">
                                    <ul class="dropdown" tabindex="1">
                                        <li><a>Borrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-demo">
                        <div id="ddMostrar2" class="wrapper-dropdown-3" tabindex="1">
                            <span id="MostrarContent2">Mostrar 5</span>
                            <ul class="dropdown" id="mostrarDD2">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="d-flex flex-sm-wrap-initial itemRowMenu mb-3">
                    <div class="col-md-4 text-center">
                        <span onclick="ordenar2('departamento-ID',this.id,this)" id="sort-departamento-ID-none">ID <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-4 text-center">
                        <span onclick="ordenar2('departamento-Nombre',this.id,this)" id="departamento-Nombre-none">Nombre <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                    <div class="col-md-4 text-center">
                        <span onclick="ordenar2('departamento-acciones',this.id,this)" id="sort-acc-none">Acciones <span><span class="icon-sort-none"><span class="path1"></span><span class="path2"></span></span></span></span>
                    </div>
                </div>
            </div>
            <ul class="list" id="itemsTable2"></ul>
            <ul class="pagination"></ul>
        </div>
    </div>


</div>



<nav id="sidebar" class="bg-dark">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Agregar Sucursal</h3>
    </div>


    <form method="POST" action="Javascript:;" enctype="multipart/form-data" accept-charset="UTF-8" data-Registrar="data-Registrar" id="RegistrarFormSlider">

        <div class="px-4 py-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="">
                <div class="form-group">
                    <div>
                        <div class="form-group mb-2">
                            <div>
                                <label asp-for="slider.imagenPrincipal"></label>
                                <small class="invalidCampo invalidimg"></small>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1 subirFoto" data-multiple-caption="{count} Archivos seleccionados" multiple />

                                <label class="labelFile" for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span style="display:inline;">Subir Archivo&hellip;</span></label>
                                <span id="cancelarArchivos" onclick="cancelarArchivos('#file-1',this)" class="icon-cancel"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>

                                <span asp-validation-for="slider.imagenPrincipal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="slider.titulo"></label>
                    </div>
                    <div>
                        <input asp-for="slider.titulo" rows="4" style="width:100%;" name="titulo" />
                        <span asp-validation-for="slider.titulo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="slider.parrafo"></label>
                    </div>
                    <div>
                        <textarea asp-for="slider.parrafo" rows="4" style="width:100%;" name="Descripcion"></textarea>
                        <span asp-validation-for="slider.parrafo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="slider.boton1"></label>
                    </div>
                    <div>
                        <input asp-for="slider.boton1" rows="4" style="width:100%;" name="boton1" />
                        <span asp-validation-for="slider.boton1" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="slider.boton2"></label>
                    </div>
                    <div>
                        <input asp-for="slider.boton2" rows="4" style="width:100%;" name="boton2" />
                        <span asp-validation-for="slider.boton2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button id="btnAdd" class="btn btn-success" data-submit="">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>





    <form  method="POST" action="Javascript:;" enctype="multipart/form-data" accept-charset="UTF-8" data-Registrar="data-Registrar" id="RegistrarFormOferta">

        <div class="px-4 py-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="">



                <div class="form-group">
                    <div>
                        <label asp-for="oferta.activo"></label>
                    </div>
                    <div>
                        <div>Activo: <input  asp-for="oferta.activo" rows="4" name="oferta.Filtro" /></div>
                        <span asp-validation-for="oferta.activo" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div>
                        <label asp-for="oferta.Filtro"></label>
                    </div>
                    <div>
                        <textarea asp-for="oferta.Filtro" rows="4" style="width:100%;" name="Filtro"></textarea>
                        <span asp-validation-for="oferta.Filtro" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="oferta.porcentaje"></label>
                    </div>
                    <div>
                        <input asp-for="oferta.porcentaje" rows="4" style="width:100%;" name="oferta.porcentaje" />
                        <span asp-validation-for="oferta.porcentaje" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="oferta.duracion_De_Oferta"></label>
                    </div>
                    <div>
                        <input asp-for="oferta.duracion_De_Oferta" rows="4" style="width:100%;" name="oferta.duracion_De_Oferta" />
                        <span asp-validation-for="oferta.duracion_De_Oferta" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="oferta.fecha_De_inicio"></label>
                    </div>
                    <div>
                        <input asp-for="oferta.fecha_De_inicio" rows="4" style="width:100%;" name="oferta.fecha_De_inicio" />
                        <span asp-validation-for="oferta.fecha_De_inicio" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="text-center">
                        <button id="btnAdd" class="btn btn-success" data-submit="">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</nav>


<div class="overlay"></div>

<div id="myModalPopUpImg" class="modalPopUpImg container-fluid" onclick="this.style.display='none'">
    <span class="closePopUpImg">&times;</span>
    <img class="modalPopUpImg-content" id="img01">
    <div id="captionPopUpImg"></div>
</div>





