<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/cliente.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <script src="~/js/fontawesome.js"></script>
</head>
<body class="fondo">

    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content" style="overflow: hidden;">

            <header>
                <nav class="cabecera">
                    <a style="font-size:2rem;" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> DeTodo</a>
                </nav>
            </header>

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="overlay"></div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/solid.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
