
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="text">
    <h1>404</h1>
    <h2>ehhhh?</h2>
    <h3>La página que buscas no se encuentra porque está muy oscuro! </h3>
    <h3><a asp-area="" asp-controller="Home" asp-action="Index">Ir a Inicio</a></h3>
</div>
<div class="torch"></div>

